*.suo
*.db
*.ipch
*.autosave
debug/*
*.sln
x64/*
release/*
*.cpp.autosave
*.h.autosave
._.DS_Store
.DS_Store
.qmake.stash
build-ProjectName-Debug/.DS_Store
build-ProjectName-Debug/DBConverter.app/Contents/Info.plist
build-ProjectName-Debug/DBConverter.app/Contents/MacOS/DBConverter
build-ProjectName-Debug/DBConverter.app/Contents/PkgInfo
build-ProjectName-Debug/DBConverter.app/Contents/Resources/empty.lproj
build-ProjectName-Debug/log.o
build-ProjectName-Debug/main.o
build-ProjectName-Debug/mainwindow.o
build-ProjectName-Debug/Makefile
build-ProjectName-Debug/mnauthor.o
build-ProjectName-Debug/mnbook.o
build-ProjectName-Debug/mnbooklist.o
build-ProjectName-Debug/mnbookshowform.o
build-ProjectName-Debug/mncat.o
build-ProjectName-Debug/mndb.o
build-ProjectName-Debug/mnimport.o
build-ProjectName-Debug/mnindex.o
build-ProjectName-Debug/mninit.o
build-ProjectName-Debug/mnmidtableslink.o
build-ProjectName-Debug/mnnass.o
build-ProjectName-Debug/mnpage.o
build-ProjectName-Debug/mnpathes.o
build-ProjectName-Debug/mnquery.o
build-ProjectName-Debug/mnrecord.o
build-ProjectName-Debug/mnsearchbook.o
build-ProjectName-Debug/mnshowbookwid.o
build-ProjectName-Debug/mnsql.o
build-ProjectName-Debug/mntable.o
build-ProjectName-Debug/mntachkil.o
build-ProjectName-Debug/mnwords.o
build-ProjectName-Debug/moc_mainwindow.cpp
build-ProjectName-Debug/moc_mainwindow.o
build-ProjectName-Debug/moc_mnbookshowform.cpp
build-ProjectName-Debug/moc_mnbookshowform.o
build-ProjectName-Debug/moc_mnshowbookwid.cpp
build-ProjectName-Debug/moc_mnshowbookwid.o
build-ProjectName-Debug/moc_predefs.h
build-ProjectName-Debug/ui_mainwindow.h
build-ProjectName-Debug/ui_mnbookshowform.h
build-ProjectName-Debug/ui_mnshowbookwid.h
._.DS_Store
.DS_Store
.qmake.stash
.qmake.stash
DBConverter.pro.user
DBConverter.pro.user.38f346a
DBConverter.pro.user.c528770
DBConverter.pro.user.f49ca44
.qmake.stash
.DS_Store
._.DS_Store
DBConverter.pro.user
